.gradient {
    background: linear-gradient(rgba(1,0,18,1), rgba(0,0,27,0.5));
}
header {
  background-image: url("image/header.jpg");
  height: 145px;
  width: 100%;
}
#nav .rounded {
  display: inline-block;
  width:100px;
  height: 32px;
  margin: 0px 0px;
  border:solid 1px white;
	padding: 3px 5px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-family: arial;
  font-size: 18px;
  font-weight: bold;
}
#nav .rounded:hover {
  background: #49A3FF;
}
h1{
  font-family: "Helvetica Neue";
  margin: 0 0 0.75em 0;
}
h2 {
  font-family: "Helvetica Neue";
  text-shadow: 1px 1px 0px #fff;
  margin: 0 0 0.75em 0;
}
strong {
    color: #1496d4;
}
.badge-holder {
  width:340px;
  height: 100px;
  position: relative;
}
.gazelle {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  transition-duration: 200ms;
  transition-property: max-height;
  transition-timing-function: ease-in;
  max-height: 100%;
}

.gazelle:hover {
  max-height: 300%;
    z-index: 2;
}
article img {
  width:227px;
  height:227px;
}
.style2 {
  max-width: 32em;
  padding: 30px 20px 30px 20px;
  margin: 0 0 20px 0;
}


.icons{
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.icons-holder{
  position: relative;
  padding: 40px 0px;
  width: 80px;
}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		color: #fff !important;
		text-decoration: none;
		font-weight: 700;
		border: 0;
		outline: 0;
		cursor: pointer;
		border-radius: 8px;
		text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
		overflow: hidden;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
		background-color: #43B3E0;
		padding: 1em 2.35em 1em 2.35em;
		font-size: 1.1em;
		max-width: 24em;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background-color: #43bff0;
			color: #fff !important;
		}

		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		button:active,
		.button:active {
			background-color: #3BA8D3;
			top: 1px;
		}

		input[type="button"].large,
		input[type="submit"].large,
		input[type="reset"].large,
		button.large,
		.button.large {
			font-size: 1.5em;
			letter-spacing: -0.025em;
		}

		input[type="button"].alt,
		input[type="submit"].alt,
		input[type="reset"].alt,
		button.alt,
		.button.alt {
			background-color: #444;
			box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2);
		}

			input[type="button"].alt:hover,
			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background-color: #4f4f4f;
				color: #fff !important;
			}

			input[type="button"].alt:active,
			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			button.alt:active,
			.button.alt:active {
				background-color: #3f3f3f;
			}
