.gradient {
    background-image: linear-gradient(rgba(1,0,18,1), rgba(0,0,27,0.5));
    width: 85%;
    height: 100%;
}
.banner {
	background-image: url("image/header.jpg");
        
}
#nav .rounded {
  display: inline-block;
  width:100px;
  height: 32px;
  margin: 0px 0px;
  border:solid 1px white;
	padding: 3px 5px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-family: arial;
  font-size: 18px;
  font-weight: bold;
}
#nav .rounded:hover {
  background: #49A3FF;
}
